.projects-section {
  padding: 15rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}

.additional-border{

  margin-bottom: 5rem;
}

.carousel-inner{
  border: 0.25rem solid #64a19d;
  img{
    height: 30vh;
    object-fit: cover; 
    @media (min-width: 750px){
      height: 60vh;
      object-fit: cover; 
      
    }

  }
  }
  

